{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "importOrder": [
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/pages/(.*)$",
    "^@/public/(.*)$",
    "^@/store/(.*)$",
    "^@/styles/(.*)$",
    "^@/theme/(.*)$",
    "^@/translations/(.*)$",
    "^@/types/(.*)$",
    "^@/utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
